<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name ="cs" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Apparel\App_Data\apparel.mdf;Integrated Security=True;User Instance=True" ></add>
              </connectionStrings>
  <system.web>
      <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>